
@import url('https://fonts.googleapis.com/css2?family=Biryani&family=Livvic:ital,wght@0,400;1,700&family=Lora:ital,wght@0,500;0,600;1,400&family=Parisienne&family=Roboto:wght@400;500&family=Sora:wght@200&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Biryani&family=Livvic:ital,wght@0,400;1,700&family=Lora:ital,wght@0,500;0,600;1,400&family=Parisienne&family=Roboto:wght@400;500&family=Sora:wght@200&family=Syne:wght@500;600;700&display=swap');


*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color:#000;
}


.top{
    transform: translateY(-80px);
    transition: all 05s !important;
}
.nav-logo img{
    width: 145px;
    height: 30px;
    object-fit: contain;
    
}

.block{
    display: block !important;
}

.navbar-logo ul li{

    padding: 31px 0;
    padding-left: 40px;

}

.navbar-logo{
    background-color: #fff;
    box-shadow: 0 0 40px 0 rgba(18,24,32,.1);
}

.navbar-logo .ul li{
    padding: 15px 0;
    width: 180px;
    top:400px;
    margin: auto;
}

.navbar-logo .ul{
    display: none;
    transition: 0.5s;
    background-color: #fff;
}



.navbar-logo ul li a{

    color:#3e4349;
    font-family:Sora,sans-serif;
    font-size: 15px;
    font-weight: bold;
    position: relative;
    padding: 5px;
    transition: 0.5s;

}

ul li a:hover{
    color:#f57c00;
}


.navbar-logo ul li:hover .ul{
  display: block;
  border-radius: 5px;
  transform: translateY(10px) scale(.98);
  transition: .4s cubic-bezier(0, 0, .3642, 1);
}



.orange-pin{
    display: flex;
    position: absolute;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    right: 0;
    top:0;
    border: 2px solid orange;
    box-sizing: initial;
}

.search-logo{
    font-size: 20px;
}



.line {
	height: 4px;
	width: 25px;
	border-radius: 50px;
	margin: 5px;
	background-color: #000;
	transform: rotate(0deg);
	transition: all 350ms ease;
    border: 1px solid #fff;
}


/* 
d-xl-block d-none
 */


#toggle {
	cursor: pointer;
}


.active .line-two {
	width: 0;
}


.active .line-one {
	transform: translateY(9px) rotate(45deg);
}

.active .line-three {
	transform: translateY(-9px) rotate(-45deg);

}

@media only screen and (max-width: 1200px) 
{
.navbar-logo nav{
    position: absolute;
    left:0;
    right: 0;
    margin: auto;
    text-align: center;
    top:170px;
    background-color: #fff;

}
.navbar-logo nav ul li{
    padding: 10px 0;
}


.navbar-logo nav .ul{
    width: 100%;
    position: relative !important;
    background-color: #f3f3f4;
}



}

.container-map{
    height:auto;
    border: 1px solid black;
    background-image: url(https://www.bslthemes.com/html/itsulu/img/deco/map.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(18,24,32,.05);

}

.head-blog{
    margin-top: 240px;
    margin-bottom: 200px;
}

.head-svg{
    position: absolute;
    right: 10%;
    top:200px
}

.head-svg img{
    rotate: 90deg;
    width: 200px;
    height: 200px;
    
}

.head-blog h1{
    font-family: Syne,sans-serif;
    font-weight: bold;
}

.head-blog ul li::marker{
    color: #f57c00;
}


.head-blog ul li:last-child{
    color:#82858a;
}


.head-blog ul li:first-child::marker{
    content: "";
}

.head-blog ul li{
    padding-right: 30px;
    color:#000;
}